@import url("components/DinoSvg/DinoSvg.css");
@tailwind base;
@tailwind components;
@layer components {
  [data-reach-accordion-button][aria-expanded="true"] .accordion {
    transform: "rotate(180deg)";
  }
  [data-reach-tab][data-selected] {
    background-color: theme("colors.white");
    border-width: 1px;

    @media (prefers-color-scheme: dark) {
      background-color: theme("colors.slate.600");
      border-color: theme("colors.slate.600");
    }
  }

  [data-reach-alert-dialog-overlay] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: theme("colors.slate.800/80%");
    z-index: 1000;
  }

  [data-reach-dialog-content] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@tailwind utilities;
